<section class="section has-background-white-ter">
        <div class="container">
            <div class="columns is-mobile is-centered">
                <div class="column is-two-fifths ">
                    <h1 class="title">Login Table</h1>
                    <p class="subtitle is-4">Email: {this.props.match.params.id} </p>
                    <div class="box">
                        <div class="media-content">
                            <table class="table is-hoverable is-fullwidth">
                                <thead>
                                    <tr>
                                        <th><abbr title="No">No</abbr></th>
                                        <th><abbr title="Timestamp">Timestamp</abbr></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>2018-10-30 16:01:49</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>